In [7]:
salary = 24000
house_rent = 10000
food_exp = 5000
total_exp = house_rent + food_exp
print(total_exp)

15000

In [10]:
total_exp = 15000
savings = salary - total_exp
print(savings)

9000

In [11]:
course_fees = 299
num_of_months = 6
total_fees = course_fees * num_of_months
print("Total Course Fees",total_fees)

Total Course Fees 1794

In [12]:
num_1 = 2
num_2 = "2"
num_1 + num_2

TypeError: unsupported operand type(s) for +: 'int' and 'str'