In [2]:
my_tuple = ()
my_tuple

()

In [3]:
type(my_tuple)

tuple

In [4]:
print(type(my_tuple))

<class 'tuple'>

In [5]:
int_tuple = (1,2,3)
print(int_tuple)

(1, 2, 3)

In [6]:
str_tuple = ("Hello","Python")
print(int_tuple,str_tuple)

(1, 2, 3) ('Hello', 'Python')

In [8]:
combined_tuple = int_tuple + str_tuple
combined_tuple

(1, 2, 3, 'Hello', 'Python')

In [9]:
print(str_tuple *3)

('Hello', 'Python', 'Hello', 'Python', 'Hello', 'Python')

In [10]:
print(int_tuple *3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
mixed_tuple = (1,"Hello",3.4)
mixed_tuple

(1, 'Hello', 3.4)

In [14]:
my_tuple = (1,"Hello",3)
a,b,c = my_tuple
print(a)
print(b)
print(c)

1
Hello
3

In [15]:
nested_tuple = (1,2,3,(4,5,6))
print(nested_tuple)

(1, 2, 3, (4, 5, 6))

In [17]:
mixed_tuple = ("Mark",[8,4,6],(1,2,3))
mixed_tuple

('Mark', [8, 4, 6], (1, 2, 3))

In [18]:
my_tuple = ("P","E","R","M","I","T")
my_tuple

('P', 'E', 'R', 'M', 'I', 'T')

In [21]:
print(my_tuple[0])
print(my_tuple[5])
print(my_tuple[6])

P
T

IndexError: tuple index out of range

In [24]:
print(mixed_tuple)
print(mixed_tuple[1])
print(mixed_tuple[1][0])

('Mark', [8, 4, 6], (1, 2, 3))
[8, 4, 6]
8

In [25]:
nested_tuple = mixed_tuple[2]
print(nested_tuple)

(1, 2, 3)